.comment-body,
.post-text {
    font-size: 24px;
    margin-left: 30px;
}

.glyphicon-thumbs-down,
.glyphicon-thumbs-up {
    cursor: pointer;
}

/*.delete-button {
  height: 20px;
}*/

.delete-link {
  color: red;
  text-decoration: none;
}

.delete-link:hover {
  color: red;
}

.delete-link:visited {
  color: red;
  text-decoration: none;
}
